<div class="mt-8">
  <h2>Websites</h2>
  <a href="/admin/websites/new">
    <button>+ Tambah baru</button>
  </a>
  <% if @websites.any? %>
    <ul>
      <% @websites.each do |website| %>
        <li style="margin-top: 0.75rem;">
          <% if @stats[website["id"].to_i].to_i > 0 %>
          <a href="/admin/websites/<%= website["id"] %>"><%= website["name"] %></a> (<strong style="color: #28a745;"><%= @stats[website["id"].to_i] %></strong> visits today)
          <% else %>
          <a href="/admin/websites/<%= website["id"] %>"><%= website["name"] %></a> (No visits yet today)
          <% end %>
          |
          <a href="/admin/websites/<%= website["id"] %>/edit">Edit</a>
          <form action="/admin/websites/<%= website["id"] %>" method="post" class="inline-block" onsubmit="return confirm('Are you sure? Once deleted, the visits records will also permanently be deleted.')">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Delete" style="color: red; padding: 0; background-color: transparent; border: none; cursor: pointer;">
          </form>
          <br>
          <small style="color: gray; margin-top: -4px;">(<%= website["identifier"] %>)</small>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>Belum ada website.</p>
  <% end %>
</div>
